$background: #282828;
$foreground: #ebdbb2;

$black:  #282828;
$darkGrey:  #928374;

$darkRed:  #cc241d;
$red:  #fb4934;

$darkGreen:  #98971a;
$green: #b8bb26;

$darkYellow:  #d79921;
$yellow: #fabd2f;

$darkBlue:  #458588;
$blue: #83a598;

$darkMagenta:  #b16286;
$magenta: #d3869b;

$darkCyan:  #689d6a;
$cyan: #8ec07c;

$lightGrey:  #a89984;
$white: #ebdbb2;
